.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  
  .btn-primary {
    background-color: #337ab7;
  }
  
  .btn-secondary {
    background-color: #666;
  }
  
  .btn-success {
    background-color: #5cb85c;
  }
  
  .btn-warning {
    background-color: #f0ad4e;
  }
  
  .btn-danger {
    background-color: #d9534f;
  }